/*
    selector {
        propiedad : valor ;
        propiedad : valor;
    }
*/

body{
    /* Cambia el color del fondo */
    background-color: #f5e1e2;
    /* background-color: rgb(248, 241, 255); */

}

body main .main-background-degraded{
    background: linear-gradient(90deg, #F850A0 0%, #8A64EB 40%, #8A64EB 60%, #49B6FF 100%);
    height: 100px;
}

body main .main-background-degraded .main-title{
    transform: translateY(15px);
    color: rgba(243, 247, 251, 0.911);
    font-family: 'Lobster Two', sans-serif;
    display: flex;
    justify-content: center;
}

.main-image{
    /* "display: flex;" : nos habilita usar "flex-end, flex-star" */
    display: block;
    margin: 0 auto;
    width: 70%;
}

body main .main-text{
    text-align: justify;
    margin-right: 25px;
    margin-left:25px;
}

h2{
    margin-left:20px;
    color: #8a32b3;
    font-size: 30px;
}

h3{
    color: rgb(136, 51, 215);
    margin-left: 20px;
    font-size: 25px;
}

p{
    text-align: justify;
    margin-right:20px;
    margin-left: 20px;
    font-size: 18px;
}

body main .HL-tittle, .EF-tittle{
    color: #F850A0;
    font-size: 25px;
}

/* /////////////////////////////////////// */

.Hidden-Love-jpg {
    float: left;
    height: 500px;
    border-radius: 3%;
    margin-left: 15px;
    box-shadow: 12px 8px 10px rgba(140, 147, 106, 0.615);
    border-bottom-style: outset;
    border-bottom-color:rgba(140, 147, 106, 0.848);
    margin-left: 20px;
}

.HL-png{
    float: right;
    height: 550px;
    position: relative;
    bottom: 30px;
    right: 40px;
}

body main .info .HL .HL-text{
    padding-left: 400px;
    padding-right: 600px;
    position: absolute;
}

/* .HL-2{
    margin-top: 60px;
    float: right;
    height: 250px;
    position: relative;
    right: 210px;
    z-index: 3;
}

.HL-3{
    height: 270px;
    float: right;
    z-index: 1;
    position:relative;
    left: 310px;
    margin-top: 10px;
}

.HL-4{
    float: right;
    height: 260px;
    position: relative;
    left: 450px;
    top: 250px;
    z-index: 5;
} */

/* /////////////////////////////////////// */

.WIFTY-jpg{
    float: left;
    height: 500px;
    border-radius: 3%;
    margin-left: 15px;
    box-shadow: 12px 8px 10px rgba(140, 147, 106, 0.615);
    border-bottom-style: outset;
    border-bottom-color:rgba(140, 147, 106, 0.848);
    margin-left: 30px;
}

.WIFTY-png{
    float: right;
    height: 550px;
    position: relative;
    bottom: 30px;
}

body main .WIFTY .WIFTY-text{
    padding-left: 430px;
    padding-right: 570px;
    position: absolute;
} 

/* /////////////////////////////////////// */

.Exclusive-Fairytale{
    float: left;
    height: 500px;
    border-radius: 3%;
    margin-left: 15px;
    box-shadow: 12px 8px 10px rgba(140, 147, 106, 0.615);
    border-bottom-style: outset;
    border-bottom-color:rgba(140, 147, 106, 0.848);
    margin-left: 30px;
}

.EF-png{
    float: right;
    height: 550px;
    position: relative;
    bottom: 30px;
}

body main .EF .EF-text{
    padding-left: 400px;
    padding-right: 580px;
    position: absolute;
} 

/* /////////////////////////////////////////// */

.EsaSonrisaTuya-jpg{
    float: left;
    height: 500px;
    border-radius: 3%;
    margin-left: 15px;
    box-shadow: 12px 8px 10px rgba(140, 147, 106, 0.615);
    border-bottom-style: outset;
    border-bottom-color:rgba(140, 147, 106, 0.848);
    margin-left: 30px;
}

body main .FIYS .FIYS-text{
    padding-left: 430px;
    padding-right: 570px;
    position: absolute;
} 

.FIYS-jpg{
    float: right;
    height: 550px;
    position: relative;
    bottom: 30px;
    right: 40px;
}

/* //////////////////////////////////////////// */

.bongo-cat{
    width: 500px;
    /* border radius--redondeo de bordes */
    border-radius: 10%;
    /* offset-x | offset-y | blur-radius | color--sombreado de imagen */
    box-shadow: 12px 8px 10px rgb(178, 99, 57);
    border-bottom-style: outset;
    border-bottom-color: rgb(153, 84, 47) ;
    border-right-color: rgb(153, 84, 47) ;
    margin-left: 20px;
}

body main .formulario{
    margin-left: 20px;
}

.linea{
        height: 1.5px;
        margin-left: 0%;
        margin-right: 35%;
        background-color: #d7679d;
}

.linea2{
    height: 1.5px;
    margin-left: 0%;
    margin-right: 35%;
    background-color: #d58ee9;
}