/*
    selector {
        propiedad : valor ;
        propiedad : valor;
    }
*/

body{
    /* Cambia el color del fondo */
    background-color: rgb(248, 241, 255);

}

body main .main-title{
    font-family: 'Lobster Two', sans-serif;
    display: flex;
    justify-content: center;
}

.main-image{
    /* "display: flex;" : nos habilita usar "flex-end, flex-star" */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.Hidden-Love-jpg{
    width: 500px;
}

.WIFTY-jpg{
    width: 500px;
}

.Exclusive-Fairytale{
    width: 500px;
    border-bottom-style: outset;
    
}

.MeteorGarden-jpg{
    width: 500px;
}

.bongo-cat{
    width: 500px;
    /* border radius--redondeo de bordes */
    border-radius: 10%;
    /* offset-x | offset-y | blur-radius | color--sombreado de imagen */
    box-shadow: 12px 8px 10px rgb(178, 99, 57);
    border-bottom-style: outset;
    border-bottom-color: rgb(153, 84, 47) ;
    border-right-color: rgb(153, 84, 47) ;
}

